@import "./reset.css";
@import "./utils.css";
@import "./animations.css";

:root {
    font-family: sans-serif;
}

.meal {
    --progress: 0;

    display: flex;
    height: 15rem;
    color: #403d40;
}

.meal__desc {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 0;
}

.meal__img {
    display: block;
    z-index: -1;
    max-height: 100%;
    transform-origin: -100% -100%;
}

.tag {
    font-size: 0.8rem;
    font-weight: 600;
}

.meal__title {
    margin: 0.4rem 0 1.8rem 0;
    font-size: 2.4rem;
    letter-spacing: -0.14rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.meal__title > :nth-child(1) {
    font-weight: 200;
}

.meal__title > :nth-child(2) {
    font-weight: 900;
}

.actions {
    display: flex;
}
